*{
  box-sizing: border-box;
  --fontColor: #17301C;
  --bgColor: #379392;
  --lightColor: #4FB0C6;
  --blueColor: #4F86C6;
  --purpleColor: #744FC6;  
}
.App{  
  background-color: var(--bgColor);
  color: var(--fontColor);    
  min-width:80%;
  max-width: 100%;
  min-height: 52vh;  
}
.App_border{
  border:2px solid var(--fontColor);
  border-radius: 10px;
}
.App__row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}
.App__row_end{}
.App__error{
  width: 100%;
  text-align: center;  
  color: red;
}
.App_w-50{
  width:50%;
  margin: .5em auto;
}
@media (min-width:900px){
  .App{
    max-width: 30em;
    margin: 0 auto;
  }
} 
@media (max-width:650px){ 
  .App{    
    min-height: 72vh;  
  }
  .App_w-50{
    width:100%;
  }
  .App__row_end{
    align-items: flex-end;
  }   
}